Creating a Dictionary

In [1]:
dict1 = {}
dict1

{}

In [2]:
dict2 = dict()
dict2

{}

#dict3 is the dictionary that maps names of the students to respective marks in percentage

In [6]:
dict3 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict3

{'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sangeeta': 85}

In [8]:
dict3 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict3['Ram']

89

In [10]:
dict3 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict3['Ram'] = 99
dict3

{'Mohan': 95, 'Ram': 99, 'Suhel': 92, 'Sangeeta': 85}

In [11]:
dict3 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
'Ram' in dict3

True

In [12]:
# method 1

In [14]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
for key in dict4:
    print(key,':',dict4[key])

Mohan : 95
Ram : 89
Suhel : 92
Sangeeta : 85

In [17]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
for key , value in dict4.items():
    print(key,':',value)
len(dict4)

Mohan : 95
Ram : 89
Suhel : 92
Sangeeta : 85

4

In [24]:
list1 = [('kuldeep',95),('Ji',96),('Jaat',97)]
dict1 = dict(list1)
dict1

{'kuldeep': 95, 'Ji': 96, 'Jaat': 97}

In [25]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict4.keys()

dict_keys(['Mohan', 'Ram', 'Suhel', 'Sangeeta'])

In [27]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict4.values()

dict_values([95, 89, 92, 85])

In [28]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict4.items()

dict_items([('Mohan', 95), ('Ram', 89), ('Suhel', 92), ('Sangeeta', 85)])

In [32]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict4.get('Mohan')

95

In [36]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict5 ={'kuldeep':99.5,'hemant':99}
dict4.update(dict5)
dict5.update(dict4)
print(dict4)
print(dict5)

{'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sangeeta': 85, 'kuldeep': 99.5, 'hemant': 99}
{'kuldeep': 99.5, 'hemant': 99, 'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sangeeta': 85}

In [42]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
del dict4['Mohan']
dict4

{'Ram': 89, 'Suhel': 92, 'Sangeeta': 85}

In [43]:
dict4 ={'Mohan': 95, 'Ram': 89, 'Suhel': 92,'Sangeeta': 85}
dict4.clear()
dict4

{}

Program (1)==>> Write a program to enter names of employees and their salaries as input
and store them in a dictionary.

In [44]:
num = int(input("Enter the number of employees whose data to bestored: "))
count = 1
employee = dict() #create an empty dictionary
while count <= num:
    name = input("Enter the name of the Employee: ")
    salary = int(input("Enter the salary: "))
    employee[name] = salary
    count += 1
print("\n\nEMPLOYEE_NAME\tSALARY")
for k in employee:
    print(k,'\t\t',employee[k])

Enter the number of employees whose data to bestored:  1
Enter the name of the Employee:  kuldeep
Enter the salary:  25000

EMPLOYEE_NAME	SALARY
kuldeep 		 25000

Program (2) ==>> Write a program to count the number of times a character appears in a given string.

In [46]:
st = input("Enter a string: ")
dic = {} #creates an empty dictionary
for ch in st:
    if ch in dic: #if next character is already in the dictionary
        dic[ch] += 1
else:
    dic[ch] = 1 #if ch appears for the first time
for key in dic:
    print(key,':',dic[key])

Enter a string:  Kuldeep Jaat

t : 1